body{
  background-color: #c8d5b9;

}
h1
{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
h2{
  color:#66BFBF;
}
h4{
  color:#66BFBF;
}

hr{
  background-color: #c8d5b9;
  border-style:dotted none none;
  border-color: grey;
  border-width: 20%;
  height : px;
  width:100px;
}
